<h1>Listagem de usuários</h1>

<ul>
    {% for user in users %}
        <li>{{ user }}</li>
    {% endfor %}
</ul>

<a href="/new">Cadastrar usuário</a>

<form action="/check/:age" method="POST">
    <input name="age"/>
    <button>Entrar</button>
</form>
